*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
  touch-action: none;
  position: relative;
  top: 0px;
  left: 0px;
  min-width: 340px;
  width: 100vw;
  height: 100vh;
  background-color: #eeeeee;
  color: #0D0D0D;
  transition: all 0.5s ease;
  overflow: hidden;
}

.swiper {
  width: 400px;
  height: 500px;
  left: auto;
  top: auto;
  transform: none; /* 중앙 정렬 */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.swiper-slide {
  background-image: url("./images/background.png"); /* 경로 수정 */
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.context {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.context h1, h2 {
  font-family: "norman-variable", sans-serif;
  font-variation-settings: "wght" 800;
}

/* 화살표 스타일 */
.scroll-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: #0D0D0D;
  animation: moveUpDown 1.5s ease-in-out infinite, blink 1.5s ease-in-out infinite; /* 두 가지 애니메이션 추가 */
}

#upArrow {
  display: none;
  top: calc(50% - 320px);
}

#downArrow {
  bottom: calc(50% - 320px);
}

/* 위아래로 움직이는 애니메이션 */
@keyframes moveUpDown {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(10px); /* 10px 아래로 */
  }
}

/* 깜빡이는 애니메이션 */
@keyframes blink {
  0%, 25% {
    opacity: 1;
  }
  25%, 50% {
    opacity: 0.1;
  }
}